<blockquote class="post-copyright">
    <div class="content">
        <%- partial('updated') %>
        <% if(page.source_url){ %>
        <%- theme.copyright %>：<a href="<%- page.source_url %> " target="_blank" rel="external"><%- page.source_url %></a>
        <% }else{ %>
        <%- theme.copyright %>：<a href="<%- url_for(page.path).replace(/index\.html$/, '') %> " target="_blank" rel="external"><%- url.replace(/index\.html$/, '') %></a>
        <% } %>
    </div>
    <footer>
        <div>
            <a href="/authors/<%=author_to_url(post.author)%>/">
                <% if(page.translator){ %>[原]<% } %>
                <img src="<%- url_for(theme.avatar) %>" alt="<%- config.author %>">
                <% if (post.author === undefined){ %>
                <%= config.author %>
                <% } else { %>
                <%= post.author %>
                <% } %>
            </a>
            <% if(page.translator){ %>
            <a href="<%=page.translator_url%>/">
                [译]<%=page.translator%>
            </a>
            <% } %>
        </div>
    </footer>
</blockquote>
